.form{
    float: left;
    border: 2px solid rgba(128, 128, 128, 0.128);
    margin-top: 10%;
    width: 150%;
    padding: 10% 10% 10% 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}