.buttons{
  float: left;
  margin:10px 10px 10px 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 10%;
}
.main{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#title{
  padding: 1% 0% 2% 1%;
}
#buttons{
  padding: 1% 4% 2% 3%;
}